<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show image</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>myimage</th>

        </tr>
        {% for i in image %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>


            <td><img src=" {{i.myimage.url }}"></td>
            <td>
                <img class="sealImage" src=" static {file:///D:/pycharm/crudpro/images/images/PNG.png}">
            </td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>