<html>

<head>
    <title>C.R.U.D</title>
    <style>
        .container {
            margin-left: 550px;
            margin-top: 150px;
            width: 300px;
            height: 100px;
            padding: 15px;
            background-color: aquamarine;
        }
    </style>
</head>

<body>

    <div class="container">
        <table>
            <tbody>

                <form method="POST">
                    {% csrf_token %}
                    <tr>
                        <th>name </th>
                        <th>
                            <input type="text" name="name" value="{{ Details.name }}">
                        </th>
                    </tr>
                    <tr>
                        <th> age</th>
                        <th>
                            <input type="text" name="age" value=" {{ Details.age}}">
                        </th>
                    </tr>
                    <tr>
                        <th> address</th>
                        <th>
                            <input name='address' value=" {{  Details.address }}"></th>
                    </tr>
                    <tr>
                        <th>password </th>
                        <th><input name="password" value="{{ Details.password }}"></th>
                    </tr>
                    <tr>
                    <input type = "submit" value = "update">
                    <a href="http://127.0.0.1:8000/retrieve">back to home</a>
                    </tr>


                </form>
            </tbody>
        </table>
    </div>
</body>

</html>