

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <form method = "POST">
         {% csrf_token %}
         <label>firstname</label>
         <input type = "text" name ="firstname">
         <br>
         <label>lastname</label>
         <input type = "text" name ="lastname">
         <br>
         <label>password</label>
         <input type = "password" name ="password">
         <br>
         <input type="submit" value = "Register">
     </form>
</body>
</html